<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>401</title>
    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <!-- Page plugins -->
    <link href="~/assets/vendor/fontawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Argon CSS -->
</head>

<body class="bg-danger">
    <!-- Main content -->
    <div class="main-content">
        <!-- Header -->
        <div class="header bg-primary pt-5 pb-7">
            <div class="container mt-9">
                @RenderBody();
            </div>
        </div>
    </div>



    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>